-- Drop existing policies if they exist to avoid conflicts
DROP POLICY IF EXISTS "Users can view driver leaves for their company" ON public.driver_leaves;
DROP POLICY IF EXISTS "Users can insert driver leaves for their company" ON public.driver_leaves;
DROP POLICY IF EXISTS "Users can update driver leaves for their company" ON public.driver_leaves;
DROP POLICY IF EXISTS "Users can delete driver leaves for their company" ON public.driver_leaves;

-- Re-create table with correct structure if not exists
CREATE TABLE IF NOT EXISTS public.driver_leaves (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    driver_id UUID NOT NULL REFERENCES public.drivers(id) ON DELETE CASCADE,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    reason TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    company_id UUID REFERENCES public.companies(id) ON DELETE CASCADE
);

-- Enable RLS
ALTER TABLE public.driver_leaves ENABLE ROW LEVEL SECURITY;

-- Correct RLS Policies (Comparing against profile.company_id via a join or using the authenticated user's metadata)
-- For simplicity and consistency with your existing 'drivers' table policies:
CREATE POLICY "Users can view driver leaves for their company"
    ON public.driver_leaves FOR SELECT
    USING (
        company_id IN (
            SELECT company_id FROM public.users WHERE id = auth.uid()
        )
    );
    
CREATE POLICY "Users can insert driver leaves for their company"
    ON public.driver_leaves FOR INSERT
    WITH CHECK (
        company_id IN (
            SELECT company_id FROM public.users WHERE id = auth.uid()
        )
    );
    
CREATE POLICY "Users can update driver leaves for their company"
    ON public.driver_leaves FOR UPDATE
    USING (
        company_id IN (
            SELECT company_id FROM public.users WHERE id = auth.uid()
        )
    );
    
CREATE POLICY "Users can delete driver leaves for their company"
    ON public.driver_leaves FOR DELETE
    USING (
        company_id IN (
            SELECT company_id FROM public.users WHERE id = auth.uid()
        )
    );
