CREATE OR REPLACE FUNCTION public.check_pricing_rules_schema() RETURNS json LANGUAGE plpgsql SECURITY DEFINER AS \\$\$\ DECLARE result json; BEGIN SELECT json_agg(json_build_object('constraint_name', conname, 'constraint_type', contype)) INTO result FROM pg_constraint WHERE conrelid = 'public.pricing_rules'::regclass; RETURN result; END; \\$\$\;
