CREATE OR REPLACE FUNCTION public.get_student_audit_logs(p_student_id UUID)
RETURNS JSON
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
    v_logs JSON;
BEGIN
    SELECT COALESCE(json_agg(
        json_build_object(
            'id', al.id,
            'action_type', al.action_type,
            'table_name', al.table_name,
            'record_id', al.record_id,
            'old_data', al.old_data,
            'new_data', al.new_data,
            'created_at', al.created_at,
            'user_full_name', COALESCE(u.full_name, 'Sistem / Anonim')
        ) ORDER BY al.created_at DESC
    ), '[]'::json) INTO v_logs
    FROM public.activity_logs al
    LEFT JOIN public.users u ON al.user_id = u.id
    WHERE 
        (al.table_name = 'students' AND al.record_id = p_student_id::TEXT)
        OR (al.old_data->>'student_id' = p_student_id::TEXT)
        OR (al.new_data->>'student_id' = p_student_id::TEXT);
        
    RETURN v_logs;
END;
\$\$;
GRANT EXECUTE ON FUNCTION public.get_student_audit_logs(UUID) TO authenticated;
