-- Add total_debt to students table
ALTER TABLE public.students ADD COLUMN IF NOT EXISTS total_debt NUMERIC DEFAULT 0;

-- Delete all existing 'Bekliyor' and 'Gecikti' payments to start fresh
DELETE FROM public.payments WHERE status IN ('Bekliyor', 'Gecikti');
