-- Migration to add whatsapp_template to companies

ALTER TABLE companies ADD COLUMN IF NOT EXISTS whatsapp_template TEXT;

-- Set a default template for existing companies if they don't have one
-- But Öz hamle Turizm should get the specific one they asked for
UPDATE companies 
SET whatsapp_template = 'Merhaba, {Ogrenci_Adi} isimli öğrencinin servis ön kaydı alınmıştır. İlk taksidinizi ödediğiniz anda kaydınız onaylanacaktır.

IBAN: TR02 0006 2001 0910 0006 2958 65
Alıcı: ÖZ HAMLE TURİZM TAŞ.TİC.LTD.ŞTİ

Lütfen ödeme yaparken açıklama kısmına Kayıt Numaranızı ({Kayit_Numarasi}) yazmayı unutmayınız.'
WHERE company_name ILIKE '%Öz hamle%';

UPDATE companies
SET whatsapp_template = 'Merhaba, {Ogrenci_Adi} isimli öğrencinin servis ön kaydı alınmıştır. Kayıt işlemlerinin tamamlanması için lütfen iletişime geçiniz. Kayıt Numaranız: {Kayit_Numarasi}'
WHERE whatsapp_template IS NULL;

