-- Migration to add registration_number to students

ALTER TABLE students ADD COLUMN IF NOT EXISTS registration_number INTEGER;

CREATE OR REPLACE FUNCTION set_registration_number()
RETURNS TRIGGER AS 
BEGIN
    IF NEW.registration_number IS NULL THEN
        SELECT COALESCE(MAX(registration_number), 1999) + 1
        INTO NEW.registration_number
        FROM students
        WHERE company_id = NEW.company_id;
    END IF;
    RETURN NEW;
END;
 LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS trg_set_registration_number ON students;
CREATE TRIGGER trg_set_registration_number
    BEFORE INSERT ON students
    FOR EACH ROW
    EXECUTE FUNCTION set_registration_number();

-- Backfill existing students with registration numbers (ordered by created_at)
DO 
DECLARE
    r RECORD;
    curr_company_id UUID := NULL;
    curr_num INTEGER := 2000;
BEGIN
    FOR r IN SELECT id, company_id FROM students ORDER BY company_id, created_at ASC LOOP
        IF curr_company_id IS NULL OR curr_company_id != r.company_id THEN
            curr_company_id := r.company_id;
            curr_num := 2000;
        ELSE
            curr_num := curr_num + 1;
        END IF;

        UPDATE students SET registration_number = curr_num WHERE id = r.id;
    END LOOP;
END;
;
